apiVersion: v1
kind: Service
metadata:
  name: $CI_PROJECT_NAME
spec:
  type: ClusterIP 
  ports:
  - port: 3000
    protocol: TCP
  selector:
    app: $CI_PROJECT_NAME
  resources:
    requests:
      cpu: 100m
      memory: 50Mi
      ephemeral-storage: "500Mi"
    limits:
      cpu: 500m
      memory: 500Mi
      ephemeral-storage: "1Gi"
  serviceAccount: true
  #ingress: true
  monitoring: true
  livenessProbe:
    httpGet:
      path: /health/liveness
      port: 9090
    initialDelaySeconds: 30
  readinessProbe:
    httpGet:
      path: /health/readiness
      port: 9090
    initialDelaySeconds: 30

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-$CI_PROJECT_NAME
annotations:
    cert-manager.io/issuer: "letsencrypt-prod"  
spec:
  rules:
  - host: $CI_PROJECT_NAME.development.cygnus-labs.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: $CI_PROJECT_NAME
            port:
              number: 3000
  ingressClassName: nginx
  tls:
    - hosts:
        - $CI_PROJECT_NAME.development.cygnus-labs.com
      secretName: $CI_PROJECT_NAME-development-ingress-tls
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: $CI_PROJECT_NAME
spec:
  replicas: 1
  selector:
    matchLabels:
      app: $CI_PROJECT_NAME
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels:
        app: $CI_PROJECT_NAME
    spec:
      containers:
      - name: $CI_PROJECT_NAME
        image: nicoswan/$CI_PROJECT_NAME:latest
        ports:
        - containerPort: 3000
